<div class="form-horizontal">
    <h3>Create a new PedidoLivros</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/PedidoLivros/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for PedidoLivros</h3>
    <form id="PedidoLivrosSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="nomeproduto" class="col-sm-2 control-label">Nomeproduto</label>
        <div class="col-sm-10">
            <input id="nomeproduto" name="nomeproduto" class="form-control" type="text" ng-model="search.nomeproduto" placeholder="Enter the PedidoLivros Nomeproduto"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="preco" class="col-sm-2 control-label">Preco</label>
        <div class="col-sm-10">
            <input id="preco" name="preco" class="form-control" type="text" ng-model="search.preco" placeholder="Enter the PedidoLivros Preco"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="quantidade" class="col-sm-2 control-label">Quantidade</label>
        <div class="col-sm-10">
            <input id="quantidade" name="quantidade" class="form-control" type="text" ng-model="search.quantidade" placeholder="Enter the PedidoLivros Quantidade"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Nomeproduto</th>
                    <th>Preco</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/PedidoLivros/edit/{{result.id}}">{{result.nomeproduto}}</a></td>
                    <td><a href="#/PedidoLivros/edit/{{result.id}}">{{result.preco}}</a></td>
                    <td><a href="#/PedidoLivros/edit/{{result.id}}">{{result.quantidade}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>